#---------------------------------------#
# Project Ignores                       #
#---------------------------------------#

# output
/.temp
/.tmp
/build
/dist

# dependencies
/node_modules

# misc

/coverage/*
*.log

#---------------------------------------#
# IDEs & Editors Ignores                #
#---------------------------------------#

# JetBrains IDEs
/.idea
*.iml

#---------------------------------------#
# General Ignores                       #
#---------------------------------------#

*~
*.orig
.vagrant

#---------------------------------------#
# Linux Ignores                         #
#---------------------------------------#

# KDE directory preferences
.directory

#---------------------------------------#
# Windows Ignores                       #
#---------------------------------------#

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
